.questionField {
  margin-top: 20px;
}
.QuestionCard {
  max-width: 800px;
  min-height: 600px;
  margin: 20px auto;
  margin-bottom: 5px;
  background: #b9d4db;
  cursor: pointer;
  border-radius: 20px;
  grid-column-start: 2;
  grid-column-end: 3;
  overflow: hidden;
  padding-bottom: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.452);
}
.questionText {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 5px;
}
.questionImg {
  width: 100%;
  height: 50%;
}
.questionImg img {
  width: 100%;
}
.answerUl {
  list-style: none;
  margin-top: 20px;
  padding: 0 50px;
}
